* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
a,a:visited{
    text-decoration: none;
    color: inherit;
}

 .anime{
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
  z-index: 10;
  animation: ani-back 2s 1;
} 

.anime img{
    width: 140px;
    animation: ani 2s 1; 
}

@keyframes ani{
    0%{
        width: 100vw;  
     }
    100%{
      width: 140px; 
      opacity: 0;
    }
}
@keyframes ani-back{
    0%{
       display: flex;
    }
    99%{
        background-color: black;
    }
    100%{
        display: none; 
        background-color: transparent;
    }
}
#section {
    background-image: url(../image/wallpaperflare.com_wallpaper.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.desktop-app{
    position: absolute;
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.9rem;
    border-radius: 4px;
    color: white;
}
.desktop-app:hover{
    background-color: rgba(255, 255, 255, 0.168);
    backdrop-filter: blur(20px);
}
.desktop-app img{
    height: 50%;

}
.clones{
    top: 100px;
    position: absolute;
}
.taskbar {
    height: 48px;
    width: 100vw;
    background-color: rgba(21, 15, 3, 0.593);
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px;
    backdrop-filter: blur(10px);
    border-top: 1px solid rgb(68, 68, 68);
}

.empty {
    flex-grow: 3;
}

.icons img {
    height: 29px;
    margin: 7px;
    padding: 3px;

}

.icons>img:hover,
.tools:hover {
    border-radius: 4px;
    background-color: rgba(176, 180, 180, 0.271);
}

.icons {
    /* margin-right:auto ;
    margin-left: 40%; */
    display: flex;
    justify-content: flex-end;
    flex-grow: 6;
}

.task-bar-tools {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    font-family: sans-serif;
    font-size: 0.7rem;
    padding: 4px;
}

.hardware-status-tools {
    display: flex;
    align-items: center;
    height: 35px;
    padding: 6px;
}

.hardware-status-tools>div {
    margin: 3px;
}

.tools {
    margin-inline: 3px;
    text-align: right;
    padding: 6px;
}

.timg {
    height: 18px;
}
#window-start-menu {
    border: 1px solid rgb(68, 68, 68);
    width: clamp(42.5vw, 550px, 45vw);
    height: clamp(85vh, 740px, 90vh);
    border-radius: 10px;
    margin: auto auto 10px auto;
    background-color: rgba(42, 41, 41, 0.89);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    padding: 20px;
    position: absolute;
    bottom: 45px;
    left:30vw;
}
summary{
    list-style: none;
}
#window-start-menu #search {
    width: 36vw;
    height: 26px;
    background-color: rgb(31, 30, 30);
    color: gray;
    border: 1px solid rgb(68, 68, 68);
    outline: none;
    border-radius: 20px;
    padding: 7px;
    margin: 20px;
}

#window-start-menu .search {
    align-self: center;
}

#window-start-menu .pinned {
    flex-grow: 1.12;
}

#window-start-menu .recommended {
    flex-grow: 1;
}
.hardware-tools{
    background-color:rgba(42, 41, 41, 0.89);
    
    width: 21rem;
    border-radius: 10px;
    color: white;
    border: 1px solid  rgb(68, 68, 68);
    position: absolute;
    bottom: 55px;
    right: 20px;
}
.sys-tools{
    display: flex;
    flex-wrap: wrap;
}
.stools{
    width: 90px;
    height: 50px;
    background-color: rgba(42, 41, 41, 0.884);
    border: 1px solid rgb(68, 68, 68);
    margin: 10px;
    display: inline-flex;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}
.stools:hover{
    background-color: #0BA1E5;
}
.hardware-tools img{
    width: 20px;
    margin: 12px;
}
.stools .more{
    height: inherit;
    width: 50px;
    border: 1px solid rgb(68, 68, 68);
    display: flex;
    align-items: center;
    justify-content: center;
}
[type=range]{
    width: 250px;
}
.range,.sys-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.sys-range{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.apps-group {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    align-content: flex-start;
}
.sys-info{
    background-color:rgb(28, 27, 27) ;
    height: 40px;
}
.pinned .app {
    height: 70px;
    width: 100px;
    padding: 5px;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
}

.pinned-top {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    font-size: 0.8em;

}

.allapps {
    background-color: rgba(102, 102, 102, 0.415);
    padding: 5px;
    border-radius: 5px;
}

.app:hover,
.rec:hover {
    background-color: rgba(102, 102, 102, 0.415);
}

.pinned img {
    height: 33px;
}

.recommended-top {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 0.8em;
}

.recommeded-recs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 0.8em;
}

.rec img {
    height: 40px;
}

.rec {
    display: flex;
    gap: 10px;

    padding: 10px;
    width: 40%;
    align-items: center;
    border-radius: 4px;
    justify-content: flex-start;

}

.about {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 50px;
    background-color: rgba(28, 28, 28, 0.622);
    margin-inline: -20px;
    margin-bottom: -20px;
    border-radius: 4px;
}
.pass>input{
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
}
.pass{
    height: 30px;
    width: 200px;
    color: white;
    background-color: rgba(0, 0, 0, 0.642);
    padding: 5px;
    border-radius:4px ;
    display: flex;
    border:1px solid transparent;
    border-bottom: 3px solid skyblue;
}
.pass img{
    height: 20px;
    transform: rotate(90deg);

}
#lockscreen {
    background-image: url('../image/wallpaperflare.com_wallpaper.jpg');
    display: flex;
    background-color: rgb(0, 0, 0);
    backdrop-filter: blur(10px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    z-index: 2;
}

#lock-logo {
    height: 140px;
    margin: 30px;
}

#screenlock-details {
    backdrop-filter: blur(10px);
    height:80vh;
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#screenlock-logos {
    height: 10vh;
    display: flex;
    background-color: transparent;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-end;
    padding-inline: 30px;
}